#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  min-height: 542.25px;
  padding: 2em;
  /* max-width: 10em; */
  border: 2px solid;
  border-width: 1px;
  border-color: aliceblue;
}

